{% extends 'base.html' %}

{% block title %}
게시글
{% endblock %}

{% block jumbotron %}
<h1 class="display-5 text-center">게시글</h1>
<hr class="my-4">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="col-12">
        <h1 class="text-center display-4" id="title"><strong>{{post.title}}</strong></h1>
        <p>by <strong>{{post.author.username}}</strong></p>
        <p>{{post.update_at|date:'Y-m-d H:i:s'}}{% if post.create_at|date:'Y-m-d H:i:s' < post.update_at|date:'Y-m-d H:i:s' %}<strong>수정됨</strong>{% endif %}</p>
        <hr class="my-4">
        <div id="contents">
            {{post.contents|safe}}
        </div>
    </div>
</div>
{% endblock %}