{% extends 'auth/_base.html' %}

{% block title %}
회원가입
{% endblock %}

{% block jumbotron %}
<h1 class="display-5 text-center">회원가입</h1>
<hr class="my-4">
{% endblock %}

{% block contents %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            <input class="form-control" type="{{field.field.widget.input_type}}" id="{{field.id_for_label}}" name="{{field.name}}" placeholder="{{field.label}}"/>
        </div>
        <div style="color: red;">{{ field.errors }}</div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
{% endblock %}